.input{
  width: 354px;
  height: 56px;
  margin-left: 100px;
  margin-top: 20px;
  padding-left: 16px;

  border: 1px solid #B3CDF8;
  border-radius: 8px;
}
.input:focus{
  outline: none;
  border-color: #5C98F1;
}
.input::placeholder{
  font-size: 15px;
  line-height: 23px;
  color: #9F9F9F;
}

.tell-cell{
  position: relative;
  
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
}
.tell-label{
  display: block;
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
}
.tell-input{
  width: 304px;
  height: 56px;
  margin-right: 28px;
  padding-left: 16px;

  font-size: 15px;
  line-height: 23px;
  
  border: 1px solid #B3CDF8;
  border-radius: 8px;
}
.tell-input::placeholder{
  color: #9F9F9F;
}
.tell-input:focus{
  outline: none;
  border-color: #5C98F1;
}
.tell-error{
  border-color: #ED4376;

  background-image: url(./svg/warning-icon.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}
.error-text{
  position: absolute;
  display: none;

  left: 10px;

  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #ED4376;
}
.error-active{
  display: block;
}

.button{
  width: 233px;
  height: 56px;
  margin-left: 100px;
  margin-top: 20px;

  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;

  border: none;
  background-color: #5C98F1;
  border-radius: 8px;
}
.button:hover{
  background-color: #4583DE;
}
.button:active{
  background-color: #2C6AC7;
}
.button:disabled{
  background-color: #D1D1D1;
}